[Unit]
Description=biodare2
Requires=jc2-ppa.service jc2-rhythm.service
After=syslog.target jc2-ppa.service jc2-rhythm.service

[Service]
User=biodare
WorkingDirectory=/localdisk/services/biodare2
Environment="SPRING_CONFIG_ADDITIONAL_LOCATION=file:/home/services/biodare2/"
ExecStart=/usr/bin/java -jar /localdisk/services/biodare2/biodare2.jar
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
